<h1>{{title}}</h1>

<a class="btn btn-primary" href="/donations/add" style="border-radius: 20px;">
    <img src="../images/add.png" style="height: 24px; width: 24px;"/>
    Donate
</a>

<br/> <br/>

<h3 style="text-align: center;">Here is a listing of Donations</h3>

<br/>

<table class="table" style="width: 500px; margin: auto" >
    <thead>
        <tr>
            <th scope="col">Message</th>
            <th scope="col">Donation Amount</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#each donationlist}}
        <tbody>
            <tr>
                <th scope="row">{{message}}</th>
                <td>${{don_amt}}.00</td>
                <td><a href="/donations/view?_id={{ this._id }}">
                    <img src="../images/open-link.png" style="height: 24px; width: 24px;"/>
                </a></td>
            </tr>
        </tbody>
    {{/each}}
</table>