<link rel="shortcut icon" type="image/jpg" href="../images/money.png"/>

<div style="display: inline;">
    <img class="icon" src="../images/money.png" style="height: 48px; width: 48px; display: inline;"/>
    <h1 style="display: inline;">{{title}}</h1>
</div>
<p>Welcome to {{title}}</p>

<br/>

<div class="images" style="text-align: center; padding-bottom:500px;">
    <div style="text-align:center">
        <img class="mern" src="../images/MERN.png" style="height: 175px; width:400px;"/>
    </div>
    <hr/>
    <h1>This site was created using</h1>
    <br/>
    <img src="../images/nodejs.png" style="height: 150px; width:175px; padding-right:10px"/>
    <img src="../images/Express-JS-min.png" style="height: 150px; width:150px;"/>
    <img src="../images/JS.png" style="height: 150px; width:150px;"/>
    <img src="../images/mustache.png" style="height: 150px; width:150px;"/>
    <br/>
    <img src="../images/MongoDB.png" style="height: 125px;;"/> 
    <h1> & </h1>
    <img src="../images/mongoose.png" style="height: 175px; width:250px; position: relative; bottom:40px"/>
</div>


