<h1>{{ title }}</h1>

<button type="button" class="btn btn-primary" style="border-radius: 20px;">
    <img src="../images/add.png" style="height: 24px; width: 24px;"/>
      <a class="nav-link text-white" href="/campaigns/add" style="display: inline;">
        Add Listing
      </a>
</button>


<br/> <br/>

<h3 style="text-align: center;">Here is a listing of Campaigns</h3>

<br/>

<table class="table" style="width: 500px; margin: auto" >
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Funding Goal</th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#each campaignlist}}
        <tbody>
            <tr>
                <th scope="row">{{title}}</th>
                <td>${{goal}}.00</td>
                <td><a href="campaigns/view?_id={{ this._id }}">
                    <img src="../images/open-link.png" style="height: 24px; width: 24px;"/>
                </a></td>
            </tr>
        </tbody>
    {{/each}}

</table>