body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.del-btn{
    float: left;
}

.edit-btn{
    float: right;
}

.donate-btn{
    width: 140px;
    text-align: center;
    position: relative;
    left: 25%;
}

.don-btn{
    width: auto;
    position: relative;
    left: 675px;
}